body {
  background: rgba(150,150,150,1);
  padding: 0;
  margin: 0;
  font-family: helvetica, sans-serif;
}
header {
  background: turquoise;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
h1 {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
  font-size: 36px;
}
a {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px;
  color: black;
}
main {
  margin: 0;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 23% 4% 1fr 8%;
}
section {
  padding-top: 40px;
  background: turquoise;
  grid-column-start: 1;
  border-radius: 15px;
}
button {
  width: 80px;
  display: block;
  margin: 0 auto;
  font-size: 28px;
  border-radius: 5px;
  border: 3px solid black;
  background: none;
  text-align: center;
}
button:hover {
  background: black;
  color: turquoise;
}
.board {
  position: relative;
  width: 410px;
  height: 410px;
  background: turquoise;
  border: 10px solid turquoise;
  border-radius: 8px;
  margin-top: 0px;
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.controlPanel {
  border-radius: 15px;
  height: 100px;
  margin: 20px 0;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.control {
  padding-top: 10px;
  height: 80px;
  margin: 0 3px;
  align-content: flex-start;
}
.cell {
  margin: 1px;
  height: 100px;
  width: 100px;
  background: green;
}
.setPuzzle {
  width: 150px;
  font-size: 18px;
  margin: 0;
}
.cell {
  margin: 1px;
  height: 100px;
  width: 100px;
  background: green;
}
.emptySpace {
  position: relative;
  margin: 1px;
  height: 100px;
  width: 100px;
}
img {
  height: 100%;
  width: 100%;
}
input {
  margin: 0;
  width: 20%;
  height: 20px;
  font-size: 18px;
  text-align: center;
  background: turquoise;
  border: 0.5px solid black;
  border-radius: 2px;
}
.upload {
  width: 90px;
  border: none;
}
.container2 {
  padding-left: 10px;
}
p {
  line-height: 50px;
  font-weight: 800;
  font-size: 18px;
  margin-left: 20px;
}
span {
  line-height: 30px;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}
@media (max-width: 780px) {
  p {
    margin-left: 0px;
    font-size: 16px;
  }
  button {
    padding: 0;
    width: 80px;
    font-size: 18px;
  }
  h1 {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  span {
    font-size: 16px;
  }
  input {
    font-size: 16px;
  }
  section {
    padding-top: 20px;
    padding-left: 10px;
  }
  main {
    grid-template-columns: 25% 1% 1fr 7%;
  }
  .board {
    width: 308px;
    height: 308px;
    margin: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 45px;
  }
  .setPuzzle {
    font-size: 18px;
    width: 70%;
  }
  .controlPanel {
    justify-content: flex-start;
    padding: 10px;
  }
  .control {
    padding-top: 0px;
    margin: 10px;
    width: 28%;
  }
  .container1 {
    width: 32%;
  }
  .container2 {
    width: 50%;
  }
  .container3 {
    padding-left: 10px;
  }
  .cell {
    margin: 1px;
    height: 75px;
    width: 75px;
    background: green;
  }
  .upload {
    width: 87px;
  }
}
